{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if post.collection == 'publications' %}
      {% capture publication_link %}
        {% if post.projecturl %}
          {{ post.projecturl }}
        {% elsif post.paperurl %}
          {{ post.paperurl }}
        {% elsif post.codeurl %}
          {{ post.codeurl }}
        {% else %}
          {{ base_path }}{{ post.url }}
        {% endif %}
      {% endcapture %}

      <div class="publication-card">
        {% if post.thumbnail %}
          <a class="publication-card__thumbnail" href="{{ publication_link | strip }}" target="_blank" rel="noopener noreferrer">
            <img src=
              {% if post.thumbnail contains "://" %}
                "{{ post.thumbnail }}"
              {% else %}
                "{{ post.thumbnail | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="{{ title | strip_html }} thumbnail">
          </a>
        {% endif %}
        <div class="publication-card__content">
          <div class="publication-card__title">{{ title }}</div>
          {% if post.citation %}
            <div>{{ post.citation }}</div>
          {% endif %}
          <div>{{ post.venue }} {{ post.date | default: "1900-01-01" | date: "%Y" }}</div>
          <div class="publication-card__links">
            {% assign has_publication_link = false %}
            {% if post.projecturl %}
              <a href="{{ post.projecturl }}" target="_blank" rel="noopener noreferrer">project page</a>
              {% assign has_publication_link = true %}
            {% endif %}
            {% if post.paperurl %}
              {% if has_publication_link %} | {% endif %}
              <a href="{{ post.paperurl }}" target="_blank" rel="noopener noreferrer">paper</a>
              {% assign has_publication_link = true %}
            {% endif %}
            {% if post.codeurl %}
              {% if has_publication_link %} | {% endif %}
              <a href="{{ post.codeurl }}" target="_blank" rel="noopener noreferrer">code</a>
              {% assign has_publication_link = true %}
            {% endif %}
            {% if post.videourl %}
              {% if has_publication_link %} | {% endif %}
              <a href="{{ post.videourl }}" target="_blank" rel="noopener noreferrer">video</a>
              {% assign has_publication_link = true %}
            {% endif %}
            {% if post.modelurl %}
              {% if has_publication_link %} | {% endif %}
              <a href="{{ post.modelurl }}" target="_blank" rel="noopener noreferrer">model</a>
              {% assign has_publication_link = true %}
            {% endif %}
            {% if post.dataseturl %}
              {% if has_publication_link %} | {% endif %}
              <a href="{{ post.dataseturl }}" target="_blank" rel="noopener noreferrer">dataset</a>
            {% endif %}
          </div>
          {% if post.description %}
            <br>
            <p class="publication-card__description">{{ post.description }}</p>
          {% endif %}
        </div>
      </div>
    {% else %}
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        {{ title }}
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl and post.projecturl and post.codeurl %}
      <p>{{ post.citation }}<br /><a href="{{ post.paperurl }}">paper</a> | <a href="{{ post.projecturl }}">project page</a> | <a href="{{ post.codeurl }}">code</a></p>
    {% elsif post.citation and post.paperurl and post.projecturl %}
      <p>{{ post.citation }}<br /><a href="{{ post.paperurl }}">paper</a> | <a href="{{ post.projecturl }}">project page</a></p>
    {% elsif post.citation and post.paperurl and post.codeurl %}
      <p>{{ post.citation }}<br /><a href="{{ post.paperurl }}">paper</a> | <a href="{{ post.codeurl }}">code</a></p>
    {% elsif post.citation and post.paperurl %}
      <p>{{ post.citation }}<br /><a href="{{ post.paperurl }}">paper</a></p>
    {% elsif post.citation and post.projecturl and post.codeurl %}
      <p>{{ post.citation }}<br /><a href="{{ post.projecturl }}">project page</a> | <a href="{{ post.codeurl}}">code</a></p>
    {% elsif post.citation and post.projecturl %}
      <p>{{ post.citation }}<br /><a href="{{ post.projecturl }}">project page</a></p>
    {% elsif post.citation and post.codeurl %}
      <p>{{ post.citation }}<br /><a href="{{ post.codeurl }}">code</a></p>
    {% elsif post.citation %}
      <p>{{ post.citation }}</p>
    {% elsif post.paperurl and post.codeurl %}
      <p><a href="{{ post.paperurl }}">paper</a> | <a href="{{ post.codeurl }}">code</a></p>
    {% elsif post.paperurl %}
      <p><a href="{{ post.paperurl }}">paper</a></p>
    {% elsif post.projecturl and post.codeurl %}
      <p><a href="{{ post.projecturl }}">project page</a> | <a href="{{ post.codeurl }}">code</a></p>
    {% elsif post.projecturl %}
      <p><a href="{{ post.projecturl }}">project page</a></p>
    {% elsif post.codeurl %}
      <p><a href="{{ post.codeurl }}">code</a></p>
    {% endif %}
    {% endif %}

  </article>
</div>
